<section class="alunosDevedores">
  <div class="row s8">

    <div class="col s8">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
            First
          </div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>
            Second
            <span class="badge">1</span>
          </div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col s4">
    <div class="col s8">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Alunos cadastrados</span>
          <p>Veja os alunos cadastrados no banco e os gerencie de maneira rápida e eficaz.

          </p>
        </div>
        <div class="card-action">
          <a routerLink="/listarAlunos">Alunos Cadastrados</a>
        </div>
      </div>
    </div>
  </div>


</section>