<!-- Div para os botoes que ficam voando -->
<div>
    <div class="fixed-action-btn menu">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a href="institucional#terceiro" class="btn-floating green">
                    <i class="material-icons">group</i></a>
            </li>
            <li><a href="institucional#segundo" class="btn-floating orange">
                    <i class="material-icons">school</i></a>
            </li>
            <li><a href="institucional#titulo" class="btn-floating blue">
                    <i class="material-icons">business</i></a>
            </li>
        </ul>
    </div>
</div>

<!-- Tela em Si -->
<section>
    <!-- Título -->
    <div class="row" id="titulo">
        <div class="institucional-titulo">GoTutor Enterprises</div>
    </div>

    <!-- Introdução---------------------------------------------------------------------------------------------->
    <div class="row">
        <!-- Imagem -->
        <div class="rowImg col s12 m12 l6">
            <img class="institucional-imagem z-depth-3" src="../../../assets/teacher-notebook.jpg">
        </div>
        <!-- Texto -->
        <div class="col s12 m12 l5">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text z-depth-3">
                    <span class="card-title">About</span>
                    <hr>
                    <p>We seek to build a revolutionary tool for private tutors. We first saw this opportunity when
                        our English Teacher talked about the lack of a system to manage her classes, clients and
                        finances.
                        That's why we developed the most complete tool with an intuitive interface for private
                        tutors. With just one minute you are registered and can start to enjoy all the benefits,
                        schedule your classes,
                        list all your clients and have a look at your finances, all for free. </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Tecnologias Utilizadas--------------------------------------------------------------------- -->
    <div class="row " id="segundo">
        <div class="institucional-titulo">Tecnologias</div>
    </div>

    <div class="row">
        <div class="container ">
            <div class="carousel z-depth-4" id="carousel">
                <a class="carousel-item"><img src="../assets/carousel/angular.png"></a>
                <a class="carousel-item"><img src="../assets/carousel/spring.png"></a>
                <a class="carousel-item"><img src="../assets/carousel/html.jpg"></a>
                <a class="carousel-item"><img src="../assets/carousel/jquery.png"></a>
            </div>
        </div>
    </div>

    <!-- Sub Título -->
    <div class="row" id="terceiro">
        <div class="institucional-titulo">Diferenciais</div>
    </div>
    <!-- Terceiro Bloco -->
    <div class="row">
        <div class="col s12 m12 l2">
            <!-- Campo em branco -->
        </div>

        <!-- Diferenciais----------------------------------------------------------------------------------------- -->
        <div class="col s12 m12 l8 divDiferenciais fundo">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#calendar">Calendar</a></li>
                        <li class="tab col s3"><a href="#financeiro">Financeiro</a></li>
                        <li class="tab col s6"><a href="#foco">Foco no professor particular</a></li>
                    </ul>
                </div>

                <!-- Calendário -->
                <div id="calendar" class="col s12 borda">

                    <!-- Texto -->
                    <div class="col s12 m6 l6 conteudo">
                        <span>
                            <p>
                                Controle suas aulas com facilidade com nosso calendário.
                            </p>
                            <p>
                                Calendário super interativo que agiliza seu dia.
                            </p>
                            <p>
                                Facilita o agendamento das aulas.
                            </p>

                            <!-- Botão 1 -->
                            <a class="waves-effect waves-light btn-large btn1"><i
                                    class="material-icons left">date_range</i>Abrir Calendário</a>
                        </span>
                    </div>

                    <!-- Imagem -->
                    <div class="col s12 m6 l6 conteudo">
                        <img class="materialboxed img1" width="60%" src="../assets/print.png">

                        <!-- Botão 2 -->
                        <a class="waves-effect waves-light btn-large btn2"><i
                                class="material-icons left">date_range</i>Abrir Calendário</a>
                    </div>
                </div>

                <!-- Financeiro -->
                <div id="financeiro" class="col s12 borda">

                    <!-- Texto -->
                    <div class="col s12 m6 l6 conteudo">
                        <span>
                            <p>
                                Controle sua renda com nosso sistema de gestão financeira.
                            </p>
                            <p>
                                O sistema de gerenciamento para o professor particular.
                            </p>
                            <p>
                                Esta cançado de esquecer quem lhe deve? GoTutor é a solução.
                            </p>

                            <!-- Botão 1 -->
                            <a class="waves-effect waves-light btn-large btn1"><i
                                    class="material-icons left">attach_money
                                </i>Abrir Financeiro</a>
                        </span>
                    </div>

                    <!-- Imagem -->
                    <div class="col s12 m6 l6 conteudo">
                        <img class="materialboxed img2" width="100%" src="../assets/print2.png">

                        <!-- Botão 2 -->
                        <a class="waves-effect waves-light btn-large btn2"><i class="material-icons left">attach_money
                            </i>Abrir Financeiro</a>
                    </div>
                </div>

                <!-- Foco -->
                <div id="foco" class="col s12 borda">
                    <!-- Texto -->
                    <div class="col s12 m6 l6 conteudo">
                        <span>
                            <p>
                                O GoTutor proporciona agilidade e segurança para o professor.
                            </p>
                            <p>
                                Pare de perder tempo com papel e planilhas.
                            </p>
                            <p>
                                Venha fazer parte da GoTutor.
                            </p>

                            <!-- Botão 1 -->
                            <a href="../cadProfessor" class="waves-effect waves-light btn-large btn1"><i
                                    class="material-icons left">group_add</i>Cadastrar-se</a>
                        </span>
                    </div>

                    <!-- Imagem -->
                    <div class="col s12 m6 l6 conteudo">
                        <img class="materialboxed img3" width="54%" src="../assets/icone1.png">

                        <!-- Botão 2 -->
                        <a class="waves-effect waves-light btn-large btn2"><i
                                class="material-icons left">group_add</i>Cadastrar-se</a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="row" id="terceiro">
        <div class="institucional-titulo">Equipe GoTutor</div>
    </div>
    <!-- Container -->
    <div class="container">
        <!-- Componentes -->
        <div class="row ">
            <div class="col s12 m6 l6">
                <div class="card-panel grey lighten-5 z-depth-2">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="../../../assets/Yuri.jpg" alt="Co-Founder Yuri" class="circle responsive-img">
                        </div>
                        <div class="col s6">
                            <p>
                                <span class="black-text">
                                    Yuri Gabriel
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    FrontEnd Developer
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    GoTutor's CEO
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card-panel grey lighten-5 z-depth-2">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="../../../assets/Gabriel.jpg" alt="Co-Founder Gabriel"
                                class="circle responsive-img">
                        </div>
                        <div class="col s6">
                            <p>
                                <span class="black-text">
                                    Gabriel Felipe
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    Calendar Developer
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    GoTutor's Executive Director
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col s12 m6 l6">
                <div class="card-panel grey lighten-5 z-depth-2">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="../../../assets/Vini.jpg" alt="Co-Founder Vinicius" class="circle responsive-img">
                        </div>
                        <div class="col s6">
                            <p>
                                <span class="black-text">
                                    Vinicius Landi
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    BackEnd Developer
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    GoTutor's Software Architect
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="card-panel grey lighten-5 z-depth-2">
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <img src="../../../assets/Henrique.jpg" alt="Co-Founder Henrique"
                                class="circle responsive-img">
                        </div>
                        <div class="col s6">
                            <p>
                                <span class="black-text">
                                    Henrique Buss
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    FrontEnd Developer
                                </span>
                            </p>
                            <p>
                                <span class="black-text">
                                    GoTutor's Director
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</section>