.MinhaConta{
    width: 75%;
    margin: auto;
    margin-top: 50px;    
    background-color: rgba(247, 245, 245, 0.952);
    padding: 15px;
    border-radius: 3px;
}
.info{
    font-size: 20px;
}
.MinhaConta h5{
    text-align: center;
}

/* Div de Formulario */

.divForm{
    align-items: stretch;
    display: flex; 
    
}

/* Div do Form da Imagem */
.divCadImagem{  
    float: left; 
    overflow: hidden;
    /* background-color: purple; */
}

/* Div com Componentes para carregar a foto */
.divEnviarFoto{
    margin-top: 10px;
    padding: 0px;
}

.label{
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.btnSelecao{
    margin-top: 10px;
    padding: 0px;
}

#selecao-arquivo{
    display: none; 
}

/* Div do Preview da Imagem */
.imagem{
    min-height: 300px;
}

.preview{
    min-height: 290px;
}


/* Botoes Cancelar */
.btnCancelar{
    margin-left: 8px;
}
.alterar{
    width: 100%;
}
.info{
    margin-left: 20px;
    text-align: left;
}
