                .telaAdministrativa {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 15px;
                    background-color: rgba(243, 243, 243, 0.911);
                    border-radius: 3px;
                }
                /* Lateral Esquerda */
                /* Area de Colapsar */
                
                .collapsible-header {
                    line-height: 3!important;
                    padding: 0.7rem!important;
                }
                
                .collapsible-body {
                    padding: 1rem!important;
                }
                
                .spanRow {
                    margin-bottom: 0px;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                
                .divSpan {
                    padding: 0.5rem;
                }
                
                .linkSpan {
                    cursor: pointer;
                    padding: 0.5rem;
                }
                
                .linkSpan:hover {
                    background-color: rgb(125, 145, 163);
                    border-radius: 3px;
                    border: 1px black solid;
                    color: white;
                    font-weight: bold;
                }
                /* Lateral Direita */
                
                .divLateral {
                    padding: 15px;
                }
                /* Div Informacoes */
                
                blockquote {
                    border-left-color: #90caf9!important;
                }
                
                blockquote a {
                    text-decoration: none;
                    cursor: pointer;
                }
                /* Div da Imagem */
                
                .divFoto {
                    border: 1px solid rgb(185, 182, 182);
                    border-radius: 5px;
                    padding: 3px;
                }
                
                .divImagem,
                .divImagemModal {
                    text-align: center;
                }
                
                .imagem {
                    background-color: pink;
                    border: 2px solid black;
                    border-radius: 5px;
                    /* Ajustando o tamanho */
                    width: 13em;
                    
                }
                
                .subImagem {
                    text-align: center;
                }
                
                .subImagem label {
                    color: black;
                    font-weight: bold;
                    font-size: 15px;
                }
                /* Modal */
                
                .modal .modal-content {
                    padding-bottom: 12px!important;
                }
                
                .modal span {
                    font-weight: bold;
                }
                
                .divImagemModal,
                .divDescModal {
                    min-height: 15rem;
                }
                /* .divImagemModal p {
    float: left;
} */
                
                .divNomeAlunoModal {
                    width: 100%;
                }
                
                .modal a {
                    margin-right: 20px;
                }
                
                .btnCancelarAula {
                    padding-top: 0px!important;
                }
                
                .detalheModal {
                    font-size: 20px;
                    margin-top: 50px;
                }
                .botoesUm{
                    margin-left: 20px;
                }
                .botoesDois{
                    margin-top: 20px;
                }
                .divImagemUsuario{
                    padding: none;
                }
                .botaoOk{
                    width: 100%;
                }
                .imagemAluno{
                    width: 100%!important;
                }
                .btnCancelar{
                    width:100%!important;
                }
                .dm{
                    margin-top: 20px!important;
                }
                .divBtnOk{
                    margin-left: -20px!important;
                }
                .divBtnCancelar{
                    margin-left: 20px!important;
                }
                .divOk{
                    text-align: center;
                }
                .divCancelar{
                    text-align: center; 
                    margin-top: 20px;
                }
                
                @media (min-width: 200px) and (max-width:600px) {
                    .botoesUm {
                        display: none;
                        margin-block-end: 0px;
                    }
                }
                
                @media (min-width: 601px) and (max-width:4000px) {
                    .botoesDois {
                        display: none;
                    }
                }
                @media (min-width: 1250px) and (max-width: 4000px){
                    .botoesUm{
                        margin-top: 105px;
                    }
                }
                @media (min-width: 1210px) and (max-width: 1249px){
                    .botoesUm{
                        margin-top: 85px;
                    }
                }
                @media (min-width: 1142px) and (max-width: 1209px){
                    .botoesUm{
                        margin-top: 65px;
                    }
                }
                @media (min-width: 991px) and (max-width: 1141px){
                    .botoesUm{
                        margin-top: 0px;
                    }
                }
                @media (min-width: 941px) and (max-width: 990px){
                    .botoesUm{
                        margin-top: 130px;
                    }
                }
                @media (min-width: 891px) and (max-width: 940px){
                    .botoesUm{
                        margin-top: 105px;
                    }
                }
                @media (min-width: 831px) and (max-width: 890px){
                    .botoesUm{
                        margin-top: 85px;
                    }
                }
                @media (min-width: 750px) and (max-width: 830px){
                    .botoesUm{
                        margin-top: 55px;
                    }
                }