<nav>
    <div class="nav-wrapper indigo">
        <a routerLink="home"><img class="brand-logo logo" src="../assets/icone3.png" title="Home"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="home">Início</a></li>

            <li><a routerLink="institucional">Sobre</a></li>

            <li><a routerLink="login">Login</a></li>

            <li><a routerLink="cadProfessor">Cadastrar como professor</a></li>

            <li><a routerLink="cadAlunoProfessor">Cadastrar aluno como professor</a></li>

            <li><a routerLink="cadAluno">Cadastrar como Aluno</a></li>

            <li><a routerLink="alunosDevedores">Alunos Devedores</a></li>

            <li><a routerLink="listarAlunos">Listar Alunos</a></li>

            <li><a (click)='deslogar()'>Sair</a></li>
        </ul>

        <ul class="sidenav" id="mobile-demo">
            <li><a routerLink="home">Início</a></li>

            <li><a routerLink="institucional">Sobre</a></li>

            <li><a routerLink="login">Login</a></li>

            <li><a routerLink="cadProfessor">Cadastrar como professor</a></li>

            <li><a routerLink="cadAlunoProfessor">Cadastrar aluno como professor</a></li>

            <li><a routerLink="cadAluno">Cadastrar como Aluno</a></li>

            <li><a routerLink="alunosDevedores">Alunos Devedores</a></li>

            <li><a routerLink="listarAlunos">Listar Alunos</a></li>

            <li><a (click)='deslogar()'>Sair</a></li>
        </ul>
    </div>
</nav>