<section class="cadastroAluno">
    <h5>Cadastro Aluno</h5>
    <div class="row">
        <form class="col s12 ">
            <div class="col s12 divForm">
                <div class="col s12 m12 l6 ">
                    <div class="row">
                        
                        <div class="input-field col s10">
                            <i class="material-icons prefix">fingerprint</i>
                            <input 
                                id="cpf_aluno" 
                                name="cpf_aluno" 
                                type="text" 
                                class="validate"
                                ng-disabled = "(alterarCpf==true)"
                                [(ngModel)]="aluno.cpf_aluno" 
                                [textMask]="{mask: cpf_mask}" 
                                (blur)="validarCpf()">
                            <span class="helper-text " *ngIf="!cpfValido">CPF inválido</span>
                            <label for="cpf_aluno" [ngClass]="(edicao == true) ? 'active' : ''">CPF</label>
                        </div>
                        <div class="col s2">
                                <div class="">
                                    <p>
                                        <label>
                                            <input type="checkbox" (click)="clicou()" />
                                            <span> </span>
                                        </label>
                                    </p>
                                    <p>
                                </div>
                            </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="nome_aluno" type="text" class="validate" name="nome_aluno"
                                [(ngModel)]="aluno.nome_aluno">
                            <label for="nome_aluno" [ngClass]="(edicao == true) ? 'active' : ''">Nome Completo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email_aluno" type="email" class="validate" name="codigo"
                                [(ngModel)]="aluno.codigo">
                            <label for="email_aluno" [ngClass]="(edicao == true) ? 'active' : ''">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i class="material-icons prefix">account_balance</i>
                                <input disabled value="Aluno inadimplente?">
                            </div>
                        </div>
                        <div class="col s6 teste1">
                            <div class="switch">
                                <label>
                                    Sim
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    Não
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- <div id="divInadimplente" class="row divInadimplente" *ngIf="inadimplente">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Parcela 01</div>
                                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                            </li>
                        </ul>
                    </div> -->



                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="descricao_aluno" class="materialize-textarea" name="descricao_aluno"
                                [(ngModel)]="aluno.descricao_aluno"></textarea>
                            <label for="descricao_aluno" [ngClass]="(edicao == true) ? 'active' : ''">Descrição</label>
                        </div>
                    </div>

                </div>

                <div class="col s12 m12 l6 divCadImagem">

                    <div class="row divEnviarFoto">
                        <div class="col s4"></div>
                        <div class="btn col s4 btnSelecao">
                            <label for='selecao-arquivo' class="label">
                                Foto
                            </label>
                        </div>

                        <div class="col s8">
                            <!-- Este campo está invisivel -->
                            <input #file type="file" accept='image/*' (change)="preview(file.files)"
                                id="selecao-arquivo">
                        </div>
                    </div>

                    <div class="row imagem">
                        <div class="col s2"></div>
                        <img [src]="imgURL" height="200" *ngIf="imgURL" class="preview" name="foto_aluno"
                            [(ngModel)]="aluno.foto_aluno" ngDefaultControl>
                    </div>

                </div>
            </div>

            <div class="row col s12">
                <button class="btnSubmit"
                    [ngClass]="(edicao == true) ? 'btn waves-effect amber accent-3 waves-light' : 'btn waves-effect waves-light'"
                    type="submit" (click)="(edicao == true) ? alterarAluno() : cadastrarAluno()">{{ texto_btn }}
                    <i class="material-icons right">{{ texto_i }}</i></button>

                <button class="btn waves-effect waves-light red darken-2 btnCancelar" type="reset" name="action"
                    (click)="cancelar()">Cancelar
                    <i class="material-icons  right">cancel</i>
                </button>
            </div>

        </form>
    </div>
</section>