<section class="home">

    <div>
        <div class="fixed-action-btn menu">
            <a class="btn-floating btn-large blue pulse">
                <!-- routerLink teste -->
                <i routerLink="../contato" class="large material-icons">chat</i>
            </a>

        </div>
    </div>

    <div class=" col s12 m8 l12 divTitle" id="fotoramaId">

            <div class="fotorama" data-autoplay="true" data-loop="true">
                <img src="..\assets\fotorama2.jpg ">
                <img src="..\assets\fotorama3.jpg ">
                <img src="..\assets\fotorama4.jpg ">

            </div>
        </div>


    <!-- Add images to <div class="fotorama"></div> -->
    <div class="row rowSlogan pontilhado">
        <div class="col s12 m12 l6 divLogo pontilhado">
            <img class="img pontilhado" src="../assets/icone3.png">
        </div>
        <div class="col s12 m12 l6 pontilhado slogan ">
                <h1><b>
                        GoTutor
                    </b></h1>
                <h2>

                    O gerenciador feito para o tutor.
                </h2>
        </div>
    </div>
    <div class="row">

    <hr class="hr">

    </div>

    <div class="geralHome ">
        <div class="row ">
            <div class="col s1 m3 l4 ">
            </div>
            <div class="col s10 m6 l4 titulo ">
                Rápido e facil
            </div>
            <div class="col s1 m3 l4 ">
            </div>
        </div>
        <div class="row ">
            <div class="col s1 m3 l4 ">
            </div>
            <div class="col s10 m6 l4 texto1 ">
                Controle e gestão das suas aulas em qualquer lugar e de forma rápida e facil.
            </div>
            <div class="col s1 m3 l4 ">
            </div>
        </div>


        <div class="row ">
            <div class="col s12 m12 l12 ">
                <div class="col s12 m12 l6 ">
                    <div class="card-panel grey lighten-5 z-depth-2 ">
                        <div class="row ">
                            <div class="col s12 m12 l6 divApresentacaoInfo">
                                <img src="..\assets\dollar.png " alt=" " class="responsive-img imgBloco1 ">
                            </div>
                            <div class="col s12 m12 l6 ">
                                <p class="textCard ">
                                    <span class="black-text ">
                                        Nosso sistema lhe da uma grade financeira onde você
                                        pode controlar suas finanças e informar dados como
                                        quais alunos estão lhe devendo.
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l6 ">
                    <div class="card-panel grey lighten-5 z-depth-2 ">
                        <div class="row ">
                            <div class="col s12 m12 l6 divApresentacaoInfo">
                                <img src="..\assets\calendar.png " alt=" " class="responsive-img imgBloco1 ">
                            </div>
                            <div class="col s12 m12 l6 ">
                                <p class="textCard ">
                                    <span class="black-text ">
                                        Você poderá ter um controle de suas aulas com um
                                        calendário super interativo, assim você não
                                        esquecerá das aulas.
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6 ">
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col s12 m12 l12 ">
                <div class="col s12 m12 l6 ">
                    <div class="card-panel grey lighten-5 z-depth-2 ">
                        <div class="row  ">
                            <div class="col s12 m12 l6 divApresentacaoInfo">
                                <img src="..\assets\people.png " alt=" " class="responsive-img imgBloco1 ">
                            </div>
                            <div class="col s12 m12 l6 ">
                                <p class="textCard ">
                                    <span class="black-text ">
                                        Como professor você poderá convidar seus alunos de forma simples
                                        e rápida para usar o sistema caso eles ainda não possuam uma conta
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l6 ">
                    <div class="card-panel grey lighten-5 z-depth-2 ">
                        <div class="row ">
                            <div class="col s12 m12 l6 divApresentacaoInfo">
                                <img src="..\assets\contact.png " alt=" " class="responsive-img imgBloco1 ">
                            </div>
                            <div class="col s12 m12 l6">
                                <p class="textCard ">
                                    <span class="black-text ">
                                        Você poderá disponibilizar conteúdos e carga horario expecificos
                                        para pretendentes alunos poderem ter acesso e entrarem en contato
                                        com você.
                                    </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6 ">
                </div>
            </div>
        </div>

        <div class="row divGestao">
            <div class="col s12 m12 l12 ">
                <div class="col s12 m12 l7 gestao segundoBloco ">
                    <div class="gestao ">
                        <span class="titulo ">
                            Gestão pessoal
                        </span>
                    </div>
                    <div class="divTexto ">
                        <p>
                            <span class="texto1 ">
                                No GoTutor você pode disponibilizar arquivos para seus alunos,
                                agendar suar aulas, ou cancelalas, pode disponibilizar uma
                                descrição para seus alunos
                            </span>
                        </p>
                        <p>
                            <span class="texto1 ">
                                Você receberá avisos em seu E-mail, por exemplo, quando uma aula
                                for cancelada ou no caso do aluno, quando estiver com uma fatura
                                atrasada
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col s12 m12 l5 gestao segundoBloco ">
                    <div>
                        <img src="..\assets\teste.png " alt=" " class="responsive-img ">
                    </div>
                </div>

            </div>

        </div>

        <div class="barrinha"></div>

        <div class="row divGestao">
            <div class="col s12 m12 l12 ">
                <div class="col s12 m12 l5 gestao segundoBloco ">
                    <div>
                        <img src="..\assets\calendario.png " alt=" " class="responsive-img ">
                    </div>
                </div>

                <div class="col s12 m12 l7 gestao segundoBloco ">
                    <div class="gestao ">
                        <span class="titulo ">
                            Calendário Interativo
                        </span>
                    </div>
                    <div class="divTexto ">
                        <p>
                            <span class="texto1 ">
                                Como professor você terá acesso a um calendario simples e
                                rapido de se usar, do qual você poderá listar suas aulas marcadas
                                os dias e horários que você não estará disponivel para dar aulas,
                                e listar as aulas em aberto.
                            </span>
                        </p>
                        <p>
                            <span class="texto1 ">
                                Como aluno você terá acesso ao calendário de seus professores,
                                ou pretendentes professores, no qual poderá requisitar uma aula
                                de acordo com as informações registradas no sistema e poderá
                                cancelar aulas ou adialas.
                            </span>
                        </p>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="row divRowVideo">
        <div class="col s12 m12 l5">
            <div class="divVideo">
                <div class="textoVideo ">
                    <p>
                        <span class="texto1 ">
                            Pequeno vídeo demonstrativo de apresentação do sistema, pequena amostra
                            de tudo que nosso sistema pode fazer e agilizar em sua vida.
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l7 ">
            <div class="col s12 m12 l10 ">
                <iframe class="video " width="100% " height="315 " src="https://www.youtube.com/embed/eSEO1DR_V_Y "
                    frameborder="0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture "
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="deixarBranco">
    </div>
</section>